apiVersion: "security.istio.io/v1beta1"
kind: "RequestAuthentication"
metadata:
  name: "jwt-example"
  namespace: "istio-system"
spec:
  selector:
    matchLabels:
      app: your-app-label
  jwtRules:
  - issuer: "{{ jwt_issuer }}"
    jwksUri: "{{ jwks_uri }}"
